@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-primary-dark: #ea580c;
  --color-primary-light: #fb923c;
  --color-accent: #ef4444;
  --color-surface: #09090f;
  --color-surface-raised: #12121a;
  --color-card: #16161f;
  --color-card-hover: #1c1c28;
  --color-text: #f1f5f9;
  --color-text-muted: #94a3b8;
  --color-border: #1e1e2e;
  --color-border-hover: #2e2e42;
}
